# Arrays

***

In [7]:
food = ["Ham", "Cheese", "Bread", "Bacon", "Tomatoes", "Lettuce"]

In [8]:
print(food)

['Ham', 'Cheese', 'Bread', 'Bacon', 'Tomatoes', 'Lettuce']

In [9]:
print(food[0])

Ham

In [10]:
print(food[4])

Tomatoes

In [11]:
sliced_food = food[0:3]
print(sliced_food)

['Ham', 'Cheese', 'Bread']

# Import Libraries

***

In [15]:
import pandas as pd
import numpy as py
import seaborn as sb

In [16]:
print("Pandas version" + pd.__version__)
print("Numpy version" + pd.__version__)
print("Seaborn version" + pd.__version__)

Pandas version2.1.3
Numpy version2.1.3
Seaborn version2.1.3

# Loading Data

***

In [17]:
df = pd.read_csv("pokemon.csv")

# Displaying Full Data Frames

***

In [18]:
# pd.set_option("display.max_rows", 20)

In [19]:
df.head(700)

,Per,Nat,Pokemon,HP,Atk,Def,SpA,SpD,Spe,Total,...,Catch,EXP,Evolve,Per.1,Nat.1,Joh,Hoe,Sin,Un,Pokemon.1
0,1.0,1.0,Bulbasaur,45,49,49,65,65,45,318,...,45,1059860,NaN,1.0,1.0,226.0,NaN,NaN,NaN,Bulbasaur
1,2.0,2.0,Ivysaur,60,62,63,80,80,60,405,...,45,1059860,Lv. 16,2.0,2.0,227.0,NaN,NaN,NaN,Ivysaur
2,3.0,3.0,Venusaur,80,82,83,100,100,80,525,...,45,1059860,Lv. 32,3.0,3.0,228.0,NaN,NaN,NaN,Venusaur
3,4.0,4.0,Charmander,39,52,43,60,50,65,309,...,45,1059860,NaN,4.0,4.0,229.0,NaN,NaN,NaN,Charmander
4,5.0,5.0,Charmeleon,58,64,58,80,65,80,405,...,45,1059860,Lv. 16,5.0,5.0,230.0,NaN,NaN,NaN,Charmeleon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
658,646.0,646.0,Kyurem,125,130,90,130,90,95,660,...,3,1250000,N,646.0,646.0,NaN,NaN,NaN,152.0,Kyurem
659,647.0,647.0,Keldeo,91,72,90,129,90,108,580,...,3,1250000,N,647.0,647.0,NaN,NaN,NaN,153.0,Keldeo
660,648.0,648.0,Meloetta (A),100,77,77,128,128,90,600,...,3,1250000,N,648.0,648.0,NaN,NaN,NaN,154.0,Meloetta (A)
661,648.1,648.1,Meloetta (P),100,128,90,77,77,128,600,...,3,1250000,N,648.1,648.1,NaN,NaN,NaN,154.1,Meloetta (P)
662,649.0,649.0,Genesect,71,120,95,120,95,99,600,...,3,1250000,N,649.0,649.0,NaN,NaN,NaN,155.0,Genesect

# Accessing Columns

***

In [20]:
df.Pokemon

0         Bulbasaur
1           Ivysaur
2          Venusaur
3        Charmander
4        Charmeleon
           ...
658          Kyurem
659          Keldeo
660    Meloetta (A)
661    Meloetta (P)
662        Genesect
Name: Pokemon, Length: 663, dtype: object

In [21]:
df.Pokemon[603]

'Amoonguss'

In [22]:
df.Pokemon[0:10]

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
5     Charizard
6      Squirtle
7     Wartortle
8     Blastoise
9      Caterpie
Name: Pokemon, dtype: object

# Accessing Multiple Columns

***

You can access multiple columns, using a variable

In [26]:
pokemon_Atk_HP = df[['Pokemon','HP', 'Atk']]

In [27]:
pokemon_Atk_HP.head(10)

      Pokemon  HP  Atk
0   Bulbasaur  45   49
1     Ivysaur  60   62
2    Venusaur  80   82
3  Charmander  39   52
4  Charmeleon  58   64
5   Charizard  78   84
6    Squirtle  44   48
7   Wartortle  59   63
8   Blastoise  79   83
9    Caterpie  45   30

# Accessin Rows

***

You can acces rows by using iloc[] which allows you to specify and index location for a row

In [28]:
specific_row = df.iloc[0]

In [29]:
print(specific_row)

Per                       1.0
Nat                       1.0
Pokemon             Bulbasaur
HP                         45
Atk                        49
Def                        49
SpA                        65
SpD                        65
Spe                        45
Total                     318
Type I                  Grass
Type II                Poison
Tier                       NU
Ability I            Overgrow
Ability II                NaN
Hidden Ability    Chlorophyll
Mass                   6.9 kG
LK/GK                      20
EV Worth                1 SpA
EXPV                       64
Color                   Green
Hatch                    5120
Gender              M (87.5%)
Egg Group I           Monster
Egg Group II            Grass
Catch                      45
EXP                   1059860
Evolve                    NaN
Per.1                     1.0
Nat.1                     1.0
Joh                     226.0
Hoe                       NaN
Sin                       NaN
Un                        NaN
Pokemon.1           Bulbasaur
Name: 0, dtype: object

# Slicing Rows and Columns

***

Note that when slicing if I return 0:10 I am going to get indexes 0-9

In [30]:
rows_zero_to_ten = df.iloc[0:10]

In [33]:
rows_zero_to_ten.head(10)

,Per,Nat,Pokemon,HP,Atk,Def,SpA,SpD,Spe,Total,...,Catch,EXP,Evolve,Per.1,Nat.1,Joh,Hoe,Sin,Un,Pokemon.1
0,1.0,1.0,Bulbasaur,45,49,49,65,65,45,318,...,45,1059860,NaN,1.0,1.0,226.0,NaN,NaN,NaN,Bulbasaur
1,2.0,2.0,Ivysaur,60,62,63,80,80,60,405,...,45,1059860,Lv. 16,2.0,2.0,227.0,NaN,NaN,NaN,Ivysaur
2,3.0,3.0,Venusaur,80,82,83,100,100,80,525,...,45,1059860,Lv. 32,3.0,3.0,228.0,NaN,NaN,NaN,Venusaur
3,4.0,4.0,Charmander,39,52,43,60,50,65,309,...,45,1059860,NaN,4.0,4.0,229.0,NaN,NaN,NaN,Charmander
4,5.0,5.0,Charmeleon,58,64,58,80,65,80,405,...,45,1059860,Lv. 16,5.0,5.0,230.0,NaN,NaN,NaN,Charmeleon
5,6.0,6.0,Charizard,78,84,78,109,85,100,534,...,45,1059860,Lv. 36,6.0,6.0,231.0,NaN,NaN,NaN,Charizard
6,7.0,7.0,Squirtle,44,48,65,60,54,43,314,...,45,1059860,NaN,7.0,7.0,232.0,NaN,NaN,NaN,Squirtle
7,8.0,8.0,Wartortle,59,63,80,65,80,58,405,...,45,1059860,Lv. 16,8.0,8.0,233.0,NaN,NaN,NaN,Wartortle
8,9.0,9.0,Blastoise,79,83,100,85,105,78,530,...,45,1059860,Lv. 36,9.0,9.0,234.0,NaN,NaN,NaN,Blastoise
9,10.0,10.0,Caterpie,45,30,35,20,20,45,195,...,255,1000000,NaN,10.0,10.0,24.0,NaN,NaN,NaN,Caterpie

# Useful PANDAS Method

***

In [34]:
df.Pokemon.sort_values() #sports values of pokemon column

464     Abomasnow
62           Abra
358         Absol
629      Accelgor
141    Aerodactyl
          ...
262     Zigzagoon
583       Zoroark
582         Zorua
40          Zubat
646      Zweilous
Name: Pokemon, Length: 663, dtype: object

In [35]:
df.Pokemon[0:10].sort_values() #sorts value of first 9 rows

8     Blastoise
0     Bulbasaur
9      Caterpie
5     Charizard
3    Charmander
4    Charmeleon
1       Ivysaur
6      Squirtle
2      Venusaur
7     Wartortle
Name: Pokemon, dtype: object

In [36]:
df.HP.mean() #gets mean

68.34087481146305

In [37]:
df.SpA.describe()

count    663.000000
mean      68.962293
std       29.246841
min       10.000000
25%       45.000000
50%       65.000000
75%       90.000000
max      180.000000
Name: SpA, dtype: float64

# Filtering Data

***

Filtering data is critical to working with data and making it readible for many different uses.
Filtering uses operators to do this along with other common programming concepts.

In [38]:
chu_pokemon = df[df['Pokemon'].str.contains("chu")]

In [39]:
print(chu_pokemon)

       Per    Nat   Pokemon  HP  Atk  Def  SpA  SpD  Spe  Total  ... Catch  \
24    26.0   25.0   Pikachu  35   55   30   50   40   90    300  ...   190
25    27.0   26.0    Raichu  60   90   55   90   80  100    475  ...    75
171   25.0  172.0     Pichu  20   40   15   35   35   60    205  ...   190
237  143.0  238.0  Smoochum  45   30   15   85   65   65    305  ...    45

         EXP        Evolve  Per.1  Nat.1    Joh    Hoe    Sin  Un  Pokemon.1
24   1000000    Friendship   26.0   25.0   22.0  156.0  104.0 NaN    Pikachu
25   1000000  Thunderstone   27.0   26.0   23.0  157.0  105.0 NaN     Raichu
171  1000000           NaN   25.0  172.0   21.0  155.0  103.0 NaN      Pichu
237  1000000           NaN  143.0  238.0  152.0    NaN    NaN NaN   Smoochum

[4 rows x 35 columns]